<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



					<!-- Start your code here -->

					  <!-- Tables -->
					  <section id="tables">
						<h2>Two Tables</h2>
						<table class="FirstTable">
							<caption>Game of the year</caption>
							<thead>
								<tr>
									<th>Game name</th>
									<th>Score</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>God of War</td>
									<td>10</td>
									<td>$59</td>
								</tr>
								<tr>
									<td>Black myth</td>
									<td>10</td>
									<td>$49</td>
								</tr>
								<tr>
									<td>Persona5</td>
									<td>10</td>
									<td>$39</td>
								</tr>
							</tbody>
							<tfoot>
								
								<tr>
									<td rowspan="2" colspan="2">Total price:</td>
									<td> $147</td>
								</tr>
							</tfoot>
						</table>
	
						<table class="SecondTable">
							<caption>Subways</caption>
							<thead>
								<tr>
									<th>Sub name</th>
									<th>Score</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Meatballer</td>
									<td>10</td>
									<td>$7</td>
								</tr>
								<tr>
									<td>Tuna</td>
									<td >8</td> 
									<td>$6</td>
								</tr>
								<tr>
									<td>Veggie</td>
									<td>5</td>
									<td>$4</td>
									<td rowspan="1">1</td>
								</tr>
							</tbody>
							<tfoot>
								<tr>
									<td rowspan="2"colspan="2">Total price: </td>
									<td>$17</td>
								</tr>
							</tfoot>
						</table>
	
						<p>Two tables. The first table displays games and prices, the second table displays subways sandwichs.</p>
					</section>
	
					<!-- Lists-->
					<section id="lists" class="list1">
						<h2>Lists</h2>
						<ol type="I">
							<li>Snacks</li>
							<li>Drinks</li>
							<li>Games</li>
							<li>Toys</li>
							<li>Movies
								<ul>
									<li>love story</li>
									<li>action</li>
									<li>comedy</li>
								</ul>
							</li>
							
						</ol>
						<p>A moive theater lists which contains the service they have</p>
					</section>
	
					<!-- Images -->
					<section id="images" class="image1">
						<h2>Images</h2>
						<img src="https://upload.wikimedia.org/wikipedia/commons/6/69/Snowboarder_in_halfpipe.jpg" alt="snowboarder"  width="300px" height="200"  class="imgbundle" />
						<img src="https://upload.wikimedia.org/wikipedia/commons/2/24/Grand-Hotel-Following-Bomb-Attack-1984-10-12.jpg"  width="300px" height="200" alt="museum" class="imgbundle" />
						<img src="https://upload.wikimedia.org/wikipedia/commons/a/a6/AC83_Actinote_zikani_%2849807063187%29_cropped_mp.jpg" width="300px" height="200" alt="butterlfly" class="imgbundle" />
	
						<p>wikipedia today picture</p>
					</section>
	
					<!-- Audio Section -->
					<section id="audio" class="audio1">
						<h2>Audio</h2>
						<audio controls>
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.mp3" type="audio/mpeg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-audio.ogg" type="audio/ogg">
						</audio>
	
						<p>Some interseting audio</p>
					</section>
	
					<!-- Video Section -->
					<section id="video" class="video1">
						<h2>Video</h2>
						<video controls width="600">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.mp4" type="video/mp4">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.ogg" type="video/ogg">
							<source src="https://pat-crawford-sdds.netlify.app/shared/fall-2021/web700/A3/sample-video.webm" type="video/webm">
						</video>
	
						<p>Web 700 sample video</p>
					</section>
					
					
					<!-- End your code here  -->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>